<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>{{page_title}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/docs.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/em_nav.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/entry_management.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
        <script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- XDSoft DateTimePicker -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" crossorigin="anonymous" />
        <script async src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% include "nav_bar.html" %}
        <div class="main_center_div">
            {% block mcd_content %}
            {% endblock %}
        </div>
    </body>
</html>