
    <div class="nav_div">
         <ul class="nav_ul">
             <li class="nav_li"><a href="{% url "management:home_page" %}">Home</a></li>

             {% if user.is_authenticated %}

                {% if user.is_visit_ongoing %}
                 <li class="nav_li"><a href="{% url "management:checkout_visit" %}">Ongoing Visit</a></li>
                {% endif %}


                 {% if user.user_type != "management" %}
                 <li class="nav_li"><a href="{% url "management:visitor_visits_list" %}">Visitor Visits</a></li>
                 {% endif %}

                 {% if user.is_host %}
                 <li class="nav_li"><a href="{% url "management:host_visits_list" %}">Host Visits</a></li>
                 {% endif %}

                 {% if user.user_type == "management" %}
                 <li class="nav_li"><a href="{% url "management:management_new_host" %}">New Host</a></li>
                 {% endif %}

                 <li class="nav_li">
                     <a href="{% url "users:logout" %}">
                     {% if user.is_visit_as_visitor_ongoing %}
                     Checkout and Logout
                     {% else %}
                     Logout
                     {% endif %}
                     </a>
                 </li>


             {% else %}

                 <li class="nav_li"><a href="{% url "management:new_visit" %}">New Visit</a></li>
                 <li class="nav_li"><a href="{% url "login" %}">Host Log In</a></li>

             {% endif %}

        </ul> 
    </div>