.nav_ul {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4b0082;
}

.nav_li {
  float: left;
  border-right:1px solid #bbb;
}

.nav_li:last-child {
  border-right: none;
}

.nav_li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_li a:hover:not(.active) {
  color: var(--light-text-color);
  background-color: var(--extra-dark);
}

.active {
  background-color: #4CAF50;
}
