:root {
    
  --dark-primary-color: #0288D1;
  --extra-dark: #280045;
  --light-primary-color: #B3E5FC;
  --primary-color: #03A9F4; 
  --light-text-color: #FFFFFF;
  --accent-color: #536DFE;   
  --dark-text-color: #212121;
  --medium-text-color: #525252;
  --secondary-text-color: #757575;
  --divider-color: #BDBDBD;
  --hover-dark: #4B0082;
    
    
  --body-bg-color: var(--primary-color); 
  --button-bg-color: var(--accent-color);
  --button-txt-color: var(--light-text-color);
  --mcd-color: var(--dark-primary-color);
  --submit-hover-bg: var(--hover-dark);
}

body
{
    margin: 0;
    background-color: var(--body-bg-color);
}

label
{
    color: var(--light-text-color);
}

button {
  background-color: var(--button-bg-color);
  border: none;
  color: var(--button-txt-color);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: var(--submit-hover-bg);
}

h2 {
  color: var(--light-text-color);
  text-shadow: -1px 0 var(--hover-dark), 0 1px var(--hover-dark), 1px 0 var(--hover-dark), 0 -1px var(--hover-dark);
}
.main_center_div {
	width: 50%;
	margin-left: 22%;
  border-radius: 5px;
  background-color: var(--mcd-color);
  padding: 20px 30px;
}
.main_center_div_wide {
    width: 70%;
    margin-left: 15%;
  border-radius: 5px;
  background-color: var(--mcd-color);
  padding: 20px 30px;
}


input[type=text],
input[type=email],
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: var(--light-primary-color);
  color: var(--dark-text-color);
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: var(--button-bg-color);
  color: var(--button-txt-color);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--submit-hover-bg);
}

.welcome-text {
  color: var(--light-text-color);
  font-size: large;
}