.ongoing-table, .ongoing-table-header, .ongoing-table-data { 
    border: 2px solid #333; 
    text-align:center; 
} 
.ongoing-table-header, .ongoing-table-data { 
    padding: 20px; 
    background-color:none; 
}
.ongoing-table-row:hover{
    background: lightgrey;
}
.ongoing-table-header{
    align-content: center
}
.ongoing-table{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    /*max-width: 70%;*/
}

