.filter{
}
.filter ul{
    text-align: left;
    margin-bottom: .8rem;
}
.filter ul li{
    display: inline-block;
    margin-right:-7px !important;
    margin-left:0 !important;
    margin-bottom:0 !important;
}
.filter ul li a:hover{
    background-color: var(--submit-hover-bg);
}
.active-filter a{
    background-color: var(--submit-hover-bg) !important;
}
.filter ul li a{
    border-left:1px solid grey;
    background-color: var(--button-bg-color);
    color: var(--button-txt-color);
    padding:10px 20px;
    font-size: 16px;
    text-decoration: None;
}

.three-btn-group{
    width: 80%;
    margin-left: 10%;
}
.three-btn {
    background-color: var(--button-bg-color);
    width: 32%;
}