.filter{
}
.filter ul{
    text-align: left;
    margin-bottom: .8rem;
}
.filter ul li{
    display: inline-block;
    margin-right:-7px !important;
    margin-left:0 !important;
    margin-bottom:0 !important;
}
.filter ul li a:hover{
    background-color: var(--submit-hover-bg);
}
.active-filter a{
    background-color: var(--submit-hover-bg) !important;
}
.filter ul li a{
    border-left:1px solid grey;
    background-color: var(--button-bg-color);
    color: var(--button-txt-color);
    padding:10px 20px;
    font-size: 16px;
    text-decoration: None;
}

.three-btn-group{
    width: 80%;
    margin-left: 10%;
}
.three-btn {
    background-color: var(--button-bg-color);
    width: 32%;
}

.three-button-group{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
.three-button{
    text-transform: none;
    color: #444;
    padding: 20px 30px;
    background-color: #f9f9f9;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
    margin-top: 20px;
    border-radius: 20%;
}

.three-button:hover{
    color: #eee;
    background-color: #a9a9a9;
}

.no-data-div {
    text-align: center;
}